.activity-section{ style: 'flex-grow: 2' }
  .activity-section-title informations.tl
  %span= raw("Clé de répartition&nbsp;: ")
  %strong= I18n.t("enumerize.activity.distribution_key.#{activity.distribution_key}")
